[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib
[submodule "external/raylibpyctbg"]
	path = external/raylibpyctbg
	url = https://github.com/overdev/raylibpyctbg
